
body {
	width: calc(100vw - 16px);
	height: calc(100vh - 16px);
	background-color: #202020;
	color: #EFEFF1;
	margin: 8px;
}

div {
	display: block;
	text-align:center;
}

p, button, span {
	display: inline-block;
	color: #EFEFF1;
	height: 36px;
	vertical-align:middle;
}

button {
    background-color: #A970FF;
    outline:none;
    border-radius: 0px 6px 6px 0px;
    padding: 0 .5rem
}

input {
	display: inline-block;
	background-color: rgba(255,255,255,0.15);
	border-color: rgba(255,255,255,0.5);
	border-radius: 6px 0px 0px 6px;
	padding: 5px 10px 10px 5px;
	max-width: 400px;
	width: 355px;
	color: #EFEFF1;
	height: 17px;
	vertical-align:middle;
}

ul, li {
	list-style-type: none;
	list-style-image: none;
}

ul {
	vertical-align: middle;
	line-height: 24px;
	margin: 0px;
	list-style-position: outside;
}
li {
	display: inline-block;
	list-style-position: inside;
	margin: 3px;
}
a:hover, button:hover {
    cursor: pointer;
    background-color: #772CE8;
    color: #FFFFFF;
}

button::-moz-focus-inner {
   border: 0;
}

input:focus {
	background-color: #000000;
	border-color: #A970FF;
}

#app {
	overflow: hidden;
	width: auto;
	height: auto;
}

#searchBar {
	height: 50px;
	background-color: #18181B;
}
#searchBar span {
	height: 19px;
}

#profile {
	position:absolute;
	float: left;
	text-align:left;
	width: 300px;
	height: 40px;
}

#channelNavBar {
	height: 40px;
	background-color: #323232;
}

#channelNavBar span {
	height: 40px;
}

#tabsContainer {
	max-width: calc(100vw - 56px);	
	max-height: calc(100vh - 138px);
	height: auto;
	width: auto;
	margin: 20px; 
	overflow: hidden;
}

.tabNav.active{
	border-bottom-color: #EFEFF1;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.tab {
	visibility: hidden;
	height:0px;
}

.tab.active {
	max-height: inherit;
	visibility: visible;
	height: auto;
}
.hidden {
	visibility: hidden;
	display: none;
}

.profileImage {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	padding: 0px 8px;
}
.offlineImage {
	height: auto;
	margin: auto;
	max-height: inherit;
}
.video {
	position: relative;
	display: inline-block;
	padding: 8px;
}
.videoOverlay {
	background-color: #000000;
	margin: 8px;
	padding: 2px;
	opacity: 0.8; 
	line-height: 9px;
}
.topLeft {
  position: absolute;
  top: 0px;
  left: 8px;
}
.bottomLeft {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.bottomRight {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.clip {
  min-width: 308px;
  width: 15%;	
}
