.clip {
  display: inline-block;
  min-width: 308px;
  width: 15%;	
}
.overlay {
	background-color: #000000;
	margin: 8px;
	padding: 2px;
	opacity: 0.8; 
	line-height: 9px;
}
.bottomLeft {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.bottomRight {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
