.clip {
  display: inline-block;
  position: relative;
  padding: 0.5%;
  width: 20%;
  min-width: 16%;
  
}

.clip img {
    max-width: 100%;
  }

.clip .overlay {
	background-color: #000000;
	margin: 8px;
	padding: 2px;
	opacity: 0.8; 
	line-height: 9px;
}
.cip .bottomLeft {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.clip .bottomRight {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
